{% extends "bases/base_evento.html" %}
{% load static %}

{% block 'importacoes' %}
    <link href="{% static 'evento/css/gerenciar_evento.css' %}" rel="stylesheet">
    <link href="{% static 'evento/css/buscar_evento.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md">
                <form action="{% url 'buscar_evento' %}" method="GET">{% csrf_token %}
                <label>Título:</label>
                <input type="text" placeholder="Título..." class="form-control" name="nome">
            </div>

            <div class="col-md">
                <br>
                <input type="submit" class="btn-principal" value="filtrar">
                </form>
            </div>

        </div>
        <table style="width: 100%;">
            <tr>
                <th>Logo</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Início</th>
                <th>Término</th>
                <th>Link de inscrição</th>
            </tr>
            
        {% for evento in eventos %}
            <tr class="{% cycle 'linha' 'linha2' %}" style="background: #2C2A2A; height: 66px;">
                <td width="10%"><a href="#"><img width="60px" height="60px" src="/media/{{evento.logo}}"></a></td>
                <td>{{evento.nome}}</td>
                <td>{{evento.descricao}}</td>
                <td>{{evento.data_inicio}}</td>
                <td>{{evento.data_termino}}</td>
                {% if request.user in evento.participantes.all %}
                <td><a class="btn-principal" style="text-decoration: none; border-color: green;" href="/eventos/inscrever_evento/{{evento.id}}/">JÁ ESTÁ PARTICIPANDO!</a></td>
                {% else %}
                <td><a class="btn btn-success" href="/eventos/inscrever_evento/{{evento.id}}/" style="width: 200px;">QUERO PARTICIPAR</a></td>
                {% endif %}
                <tr><td></td></tr>
            </tr>
        {% endfor %}
                
        </table>

    </div>

{% endblock %}